# Análise dos dados da chegada de turistas ao Brasil
### Ano: 2018 e 2019
site: http://dados.turismo.gov.br/index.php/chegada-de-turistas-internacionais

In [1]:
# Importar as bibliotecas
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
# Importar os dados
# Lendo arquivo csv
arq19 = 'chegadas_2019.csv'

# Detalhando os parametros do arquivo csv( encoding, sep, header)
chegadas = pd.read_csv(arq19, sep=';', encoding='latin', header =0)

chegadas.head()

,Continente,cod continente,País,cod pais,UF,cod uf,Via,cod via,ano,Mês,cod mes,Chegadas
0,África,1,África do Sul,2,Acre,1,Aérea,1,2019,Janeiro,1,0
1,África,1,África do Sul,2,Acre,1,Aérea,1,2019,Fevereiro,2,0
2,África,1,África do Sul,2,Acre,1,Aérea,1,2019,Março,3,0
3,África,1,África do Sul,2,Acre,1,Aérea,1,2019,Abril,4,0
4,África,1,África do Sul,2,Acre,1,Aérea,1,2019,Maio,5,0

In [3]:
# Alterar as os nomes das colunas

chegadas.columns = ['Continente', 'Código Continente', 'País', 'Código País', 'UF', 'Código UF', 'Via', 'Código Via', 'Ano','Mês', 'Código Mês', 'Chegadas']

In [12]:
chegadas.describe()

,Código Continente,Código País,Código UF,Código Via,Ano,Código Mês,Chegadas
count,49104.000000,49104.000000,49104.000000,49104.000000,49104.0,49104.000000,49104.000000
mean,4.430108,172.064516,19.613636,2.136364,2019.0,6.500000,129.381333
std,1.863060,227.080803,22.844782,1.119892,0.0,3.452088,1561.280727
min,1.000000,2.000000,1.000000,1.000000,2019.0,1.000000,0.000000
25%,3.000000,61.000000,5.750000,1.000000,2019.0,3.750000,0.000000
50%,5.000000,119.000000,16.000000,2.000000,2019.0,6.500000,0.000000
75%,6.000000,184.000000,21.500000,3.000000,2019.0,9.250000,2.000000
max,8.000000,999.000000,99.000000,4.000000,2019.0,12.000000,147555.000000

In [65]:
# Quantidade de chegadas por Continente
chegadas_total = chegadas['Continente','Chegadas']
chegadas.groupby(['Continente']).sum()

KeyError: ('Continente', 'Chegadas')